*{
	margin: 0;
	box-sizing: 0;
	font-family: sans-serif;
}
body{
	background-image: linear-gradient(to top,#5134B2 , #6547C8 100%);
	overflow: hidden;
}
header h1{
	box-shadow: 0px 0px 15px #0002;
	color: #fff;
	padding: 25px;
	background-image: linear-gradient(to top,#7F5CFF , #7F5CFF 10%);
	cursor: default;
	margin-top: 1.5%;
}

/* INICIO DE LOS BOTONES */

.boton:hover{
	box-shadow: inset -.25em -.25em .5em #0002, -.25em -.25em .5em #0005;
}
.boton:active{
	box-shadow: inset -.25em -.25em .5em #0002, .25em .25em .5em #0005;
	text-shadow: 0px 0px 5px #fff;
	color: #fff;
}
.links{
	font-size: 0;
	margin:50px;
}

/* FIN DE LOS BOTONES */


/* pc */



@media (min-width: 991px){
	.pugi{
			position: absolute;
			bottom: -49.3px;
			left: -110px;
			animation-name: pugi;
			animation-duration: 15s;
			animation-delay: 10s;
			animation-iteration-count: infinite;
			animation-direction: normal;
			transition: .25s;
			display: nones;
		}
	@keyframes pugi{
		0%{left: -180px;}
		100%{left: 100vw;}
	}
	body{
		min-height: 100vw;
		width: 100vw;
	}

	.robotitus{
			position: absolute;
			bottom: 0;
			left: -100px;
			animation-name: pugi;
			animation-duration: 15s;
			animation-delay: 2.5s;
			animation-iteration-count: infinite;
			animation-direction: normal;
			transition: .25s;
			display: nones;
		}

	.botones{
		display: flex;
		margin-top: 15px;
		justify-content: center;
	}
	.boton{
		height: 100px;
		width: 250px;
		font-size: 30px;
		color: #000;
		cursor: pointer;
		margin-top: 12.5%;
		margin-right: 7%;
		border-radius: .25em;
		background-color: transparent;
		font-weight: bold;
		transition: .25s;
		border: none;
		box-shadow: inset .25em .25em .5em #0002, .25em .25em .5em #0005;
	}
}

/* end pc */

/* tablet */

@media (min-width: 768px) and (max-width: 990px){
	body{
		background-color: #1111;
		width: 100vw;
		height: 100vh;
	}
	.pugi{
		display: none;
	}
	.robotitus{
		display: none;
	}
	header h1{
		position: relative;
	}

	.botones{
		display: flex;
		margin-top: 15px;
		justify-content: center;
	}
	.boton{
		height: 100px;
		width: 250px;
		font-size: 30px;
		color: #000;
		cursor: pointer;
		margin-top: 30vh;
		margin-right: 7%;
		border-radius: .25em;
		background-color: transparent;
		font-weight: bold;
		transition: .25s;
		border: none;
		box-shadow: inset .25em .25em .5em #0002, .25em .25em .5em #0005;
	}
}

/* end tablet */

/* mobile */

@media (max-width: 767px){

	.pugi{
		display: none;
	}
	.robotitus{
		display: none;
	}
	.botones{
		margin-top: 15px;
		text-align: center;
		width: 100vw;
		height: 100vh;
	}
	.boton{
		margin-top: 15vh;
		height: 100px;
		width: 250px;
		font-size: 30px;
		color: #000;
		border-radius: .25em;
		background-color: transparent;
		font-weight: bold;
		transition: .25s;
		border: none;
		box-shadow: inset .25em .25em .5em #0002, .25em .25em .5em #0005;
	}
}

/* end mobile */